@{
    ViewBag.Title = "Contactos";
}
    

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        p{
            color: cyan;
            font-size: 2em;
        }
    </style>
    <script>
        function alerta() {
            alert("Esta es la pagina de contacto");
        }
    </script>
</head>
<body>
    <h3>@ViewBag.Message</h3>
    <div>
        <h1>Pagina contactoss</h1>
    </div>
    <div>
        <p>Esta pagina contiene los datos para contactarnos</p>
    </div>
    <div>
        <h1>Mas contenido</h1>
    </div>
    <div>
        <p>Contenido extra</p>
    </div>
    <div>
        <button onclick="alerta()">Alerta</button>
    </div>
</body>
</html>
